<h1>Welcome to Blackjack!</h1>
<p>What's your name?</p>
<form action = "/new_player" method = "post">
	<input type="text" name="player_name"><br/>
	<input type="submit" name="submit" class="btn"/>
</form>